/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* My CSS starts here*/
/*pink backgorund*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #e6ccb2;
  color: #242121;
  font-size: 1.2rem;
  line-height: 1.6;
}


/* Pink Background - DONE*/
main {
  margin: 5rem 5rem;
  padding: 1rem;
}


/*section.hero is the name for main section*/
/* White Text Box */
main section.hero {
  padding: 3rem 1rem 1rem 1rem;
  background-color: #f1faeeff;
  border-radius: 1rem;
}

/*main text - perfect cappuccino*/
main section.hero h1 {
  padding: 0 3rem;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
}
